
.lt_nav {
    padding: 10px;
}

.lt_nav ul {
    display: flex;
    flex-wrap: wrap;
}

.lt_nav ul li {
    width: 33.3333333%;
}

.lt_nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

.lt_nav ul li a img {
    display: block;
    width: 100%;
    height: 100%;
}

