

.product_detail {}
.product_detail ul{}
.product_detail ul li{
    padding: 10px;
    min-height: 42px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.product_detail ul li p.name{
    font-size: 16px;
    color: black;
    font-weight: 700;
    /* padding: 10px 0; */
}

.product_detail ul li span.price{
    color: red;
    font-size: 20px;
}

.product_detail ul li span.oldPrice{
    font-size: 14px;
    color: #787878;
    text-decoration: line-through;
}

.product_detail ul li span.size{
    width: 25px;
    height: 25px;
    color: black;
    background-color: #f5f5f7;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: 12px;
    border: 1px solid lightgray;
    text-align: center;
    line-height: 25px;
}    

.product_detail ul li span.num{
    font-size: 12px;
    color: gray;
}

.lt_footer.product {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.lt_footer.product a{
    color: #007aff;
    font-size: 14px;
    margin-left: 15px;
}

.lt_footer.product .btns{
    margin-right: 10px;
}
    