
html,body{
    height: 100%;
}

.letao_aside {
    width: 180px;
    background-color: #222d32;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.letao_aside .header {
    height: 50px;
    background-color: #367fa9;
    text-align: center;
}

.letao_aside .header a {
    color: #fff;
    line-height: 50px;
    font-size: 20px;
}

.letao_aside .user {
    padding: 30px 20px;
    /* background-color: pink; */
}

.letao_aside .user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.letao_aside .user >span {
    color: #fff;
}

.letao_aside .manager li {
    border: 4px solid transparent;
}

.letao_aside .manager li.active {
    border-left-color: #3c8dbc;
    background-color: black;
}

.letao_aside .manager li.active a {
    color: #fff;
}

.letao_aside .manager li a {
    color: #aaaaaa;
    padding-left: 30px;
    line-height: 40px;
}

.letao_aside .manager li a i {
    margin-right: 5px;
}

.letao_aside .manager li ol a{
    line-height: 30px;
    font-size:12px;
    padding-left: 50px;
}

/* 主体区域样式 */
.letao_main {
    margin-left: 180px;
}

.letao_main .header {
    height: 50px;
    background-color: #3c8dbc;
    padding: 0 20px;
}

.letao_main .header a {
    line-height: 50px;
    color: #fff;
    font-size: 18px;
}

.letao_main .content{
    padding: 30px 20px 0;
}